In [2]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [3]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [12]:
df[1:2]

        course_name  duration
1  Machine Learning         3

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

In [ ]:
Ans  The loc() function is label based data selecting method which means that we have to pass the name of the row 
     or column which we want to select. This method includes the last element of the range passed in it, unlike 
     iloc(). loc() can accept the boolean data unlike iloc().
        
    The iloc() function is an indexed-based selecting method which means that we have to pass an integer index in 
    the method to select a specific row/column. This method does not include the last element of the range passed 
    in it unlike loc(). iloc() does not accept the boolean data unlike loc().

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
    then find the output for both new_df.loc[2] and new_df.iloc[2].
    Did you observe any difference in both the outputs? If so then explain it.

In [15]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [70]:
new_df=df1
new_df

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.595155  0.760021  0.342170  0.472192  0.211560  0.006281
2  0.072447  0.957449  0.627240  0.545850  0.158756  0.079222
3  0.846775  0.257324  0.778810  0.943437  0.632328  0.310881
4  0.552502  0.020956  0.438675  0.711714  0.628961  0.489405
5  0.598782  0.925860  0.404814  0.555708  0.429875  0.069293
6  0.338414  0.787611  0.236287  0.402333  0.620574  0.412364

In [71]:
new_df["index"]=[3,0,1,2,8,7]
new_df.set_index("index")

       column_1  column_2  column_3  column_4  column_5  column_6
index
3      0.595155  0.760021  0.342170  0.472192  0.211560  0.006281
0      0.072447  0.957449  0.627240  0.545850  0.158756  0.079222
1      0.846775  0.257324  0.778810  0.943437  0.632328  0.310881
2      0.552502  0.020956  0.438675  0.711714  0.628961  0.489405
8      0.598782  0.925860  0.404814  0.555708  0.429875  0.069293
7      0.338414  0.787611  0.236287  0.402333  0.620574  0.412364

In [72]:
new_df.loc[2]

column_1    0.072447
column_2    0.957449
column_3    0.627240
column_4    0.545850
column_5    0.158756
column_6    0.079222
index       0.000000
Name: 2, dtype: float64

In [73]:
new_df.iloc[2]

column_1    0.846775
column_2    0.257324
column_3    0.778810
column_4    0.943437
column_5    0.632328
column_6    0.310881
index       1.000000
Name: 3, dtype: float64

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [67]:
df1.mean(axis=0)

column_1    0.500679
column_2    0.618203
column_3    0.471332
column_4    0.605206
column_5    0.447009
column_6    0.227908
dtype: float64

In [68]:
df1['column_2'].std()

0.38613218535373756

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
Hint: To replace the data use df1.loc[] and equate this to string data of your choice.

In [77]:
df1.loc[2,'column_2']='abc'

In [80]:
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [ ]:
Ans This error is occuring becaouse we cant take the mean of string variable. We can only take the mean of int 
    or float variable.This is the reason for the error.

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

In [ ]:
Ans Pandas Window functions are functions where the input values are taken from a “window” of one or more rows in
    a series or a table and calculation is performed over them. The word window means the number of rows between 
    the two boundaries by which we perform calculations including the boundary rows.
    1. Rolling window operations
    2. Weighted window operations
    3. Expanding window operations
    4. Exponentially Weighted window

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [87]:
pd.to_datetime(5/28/23)

Timestamp('1970-01-01 00:00:00')

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [90]:
from datetime import date
def numOfDays(date1, date2):
    return (date2-date1).days
 
date1 = date(2018, 12, 13)
date2 = date(2019, 2, 25)
print(numOfDays(date1, date2), "days")

74 days